    </main>
<footer>
    <div>
        <p>Thanks <a href="https://www.udemy.com/user/4b4368a3-b5c8-4529-aa65-2056ec31f37e/?srsltid=AfmBOoqT9Kn3dPA335imPNs0EfvizBQYwIc5vlA640R5AQT8VAluAdF7" target="_blank">Angela Yu!!</a></p>
    </div>
    <div>
        <p>Follow my progress on <a href="https://github.com/darrylgibbs/blog-capstone" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a></p>
    </div>
    <div>
        <p>Made by Darryl since <%= new Date().getFullYear() %></p>
    </div>
</footer>
</html>