<%- include("partials/header.ejs") %>

<p>content space</p>

<div id="post-area">

    <!-- This area requires functionality -->
    <div class="post-title">
        <h1>POST TITLE</h1>
    </div>

    <div class="post-text">
        <p>post text area</p>
    </div>

    <div class="post-footer">
        <div>
            Last updated
        </div>
        <button>Edit Post</button>
        <button>SUBMIT</button>
    </div>

</div>

<%- include("partials/footer.ejs") %>